<h1>What would you like to do as an administrator?</h1>

<ul>
  <li> <%= link_to "Manage users", admin_manage_users_path %> </li>
  <li> <%= link_to "Manage posts", admin_manage_posts_path %> </li>
  <li> <%= link_to "View reports", admin_view_reports_path %> </li>
</ul>
