<table border="1">
  <caption><h1>Manage Posts</h1></caption>
  <tr>
    <th>Post</th>
    <th>Weight</th>
    <th>Votes</th>
    <th></th>
  </tr>
  <% @posts.each do |post| %>
      <tr>
        <td>
          <dl>
            <dt> <b><%= post.title %></b> </dt>
            <dd> <%= truncate(post.body, :length => 80) %> </dd>
          </dl>
        </td>
        <td></td>
        <td><%= post.votes %></td>
        <td> <%= link_to 'Delete post', post,
                    :confirm => 'Click Ok to delete this post together with all its replies',
                    :method => :delete %> </td>
      </tr>
  <% end %>
</table>
