<p>No per-user or aggregate statistics are collected.</p>
<p>Total number of posts.</p>
<p>Number of posts per user. Number of replies per user.</p>
<p>% of posts per user over the total number of posts.</p>
<p>View reports on post activity, including number of votes for each post such that it is possible to use this report to assign grades.</p>

<br>
<br>
<table border="1">
  <caption><h1>View Reports</h1></caption>
  <tr>
    <th>Report</th>
  </tr>
  <tr>
    <td><%= link_to "Users Report", admin_report_users_path %></td>
  </tr>
  <tr>
    <td>Report 2</td>
  </tr>
  <tr>
    <td>Report 3</td>
  </tr>
  <tr>
    <td>Report 4</td>
  </tr>
  <tr>
    <td>Report 5</td>
  </tr>
  <tr>
    <td>Report 6</td>
  </tr>
  <tr>
    <td>Report 7</td>
  </tr>
  <tr>
    <td>Report 8</td>
  </tr>
</table>

